version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(deps):"
    open-pull-requests-limit: 10
    groups:
      composer-version-updates:
        patterns:
          - "*"
        applies-to: "version-updates"
      composer-security-updates:
        patterns:
          - "*"
        applies-to: "security-updates"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(deps):"
    open-pull-requests-limit: 10
    groups:
      actions-version-updates:
        patterns:
          - "*"
        applies-to: "version-updates"
      actions-security-updates:
        patterns:
          - "*"
        applies-to: "security-updates"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(deps):"
    open-pull-requests-limit: 10
    groups:
      docker-version-updates:
        patterns:
          - "*"
        applies-to: "version-updates"
      docker-security-updates:
        patterns:
          - "*"
        applies-to: "security-updates"
