includes:
    - ./vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 6

    paths:
        - src
        - config
        - tests

    excludePaths:
        - var
        - vendor
        - build
        - config
